body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkid-tap-highlight-color: rgba(0,0,0,0);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  text-align: var(--bs-body-text-align);
}

.logo {
  width: 300px;
  height: 80px;
}

.col-6 {
  flex: 0 0 auto;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
   width: 50%; 
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
}

.tbd {
  padding-left: 0px;
}


.row>* {
  margin-top: var(--bs-guttery-y);
  max-width: 100%;
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  padding-right: calc(car(--bs-gutter-x) * 0.5);
}

*,
:after,
:before {
  box-sizing: border-box;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y:0;
}

div {
  display: block;
}

.WeatherForecast {
  border-bottom: 1px solid #f9f7fe;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(249, 247, 254);
  margin: 40px 0;
  margin-top: 40px;
  margin-right: 0px;
  margin-bottom: 40px;
  margin-left: 0px;
  padding-bottom: 50px
  text-align: center;
}

.Weather {
  color: #878787;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl,
.container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
}


li {
  list-style: none;
}

.WeatherInfo .temperature-container {
  margin-top: 30px;

}

.justify-content-end {
  justify-content: flex-end!important;
}

.d-flex: {
  display: flex!important;
}

.WeatherInfo .temperature-container {
  margin-top: 30px;
}

.justify-content-end {
  fustify-content: flex-end!important;
}










