body {
  font-family: monospace;
}

.temperature {
  color: #5a6bca;
  text-align: center;
  font-weight: 900;
  font-size: 36px;
  line-height: 48px;
}

h1 {
  text-align: left;
}

.search-form {
  line-height: 28px;
  padding-top: 5px;
  margin-top: 0;
}

.float-left {
  text-align: center;
}

h2 {
  color: #5a6bca;
  font-size: 25px;
  text-align: center;
  margin-top: 0;
}

.ul {
  text-align: left;
  margin: 0;
}
.weather-app {
  padding: 20px;
  border: 1px solid #5a6bca;
  border-radius: 5px;
}

.row {
  max-width: 550px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
